html{
    background-color: gray;
}


.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: whitesmoke;
    text-align: center;
}

.grid-container {
    display: flex;
    align-items: center;
    height: 75%;
    flex-direction: column;
}

.s {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    width: 750px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.a {
    background-color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    width: 750px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.b {
    background-color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    width: 750px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.f {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    width: 750px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

audio {
    position: absolute;
    left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skyler {
    width: 388px;
    height: 222;
}

i.fa {
    font-size: 50px;
    cursor: pointer;
}

.fa-volume-xmark {
    color: red;
}

.icon_arrow {
    color: black;
}