.website_img {
    height: 100px;
    width: 100px;
    border-radius: 5%;
    outline: auto;
    outline-color: black;
}

body {
    background-color: whitesmoke;
}

.heading {
    color: black;
    font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.teirlist {
    display: flex;
    align-items: center;
    height: 75%;
    flex-direction: column;
}

